.navbar {
  background: transparent;
  nav {
    min-height: 10vh;
    @include flex(row, center, space-between);
    width: 90%;
    margin: auto;
    .logo {
      @include flex(row, center, none);
      svg {
        width: calc(4rem + 2vmin);
        height: calc(4rem + 2vmin);
        circle {
          fill: none;
          stroke: $header2-color;
          stroke-width: 0.5rem;
        }
      }
    }
    ul {
      @include flex(row, center, none);
    }
  }
}
