.navbar {
  background: transparent;
  nav {
    min-height: 10vh;
    .logo {
      svg {
        width: calc(4rem + 2vmin);
        height: calc(4rem + 2vmin);
        circle {
          fill: none;
          stroke: $header2-color;
          stroke-width: 0.5rem;
        }
      }
    }
  }
}
